<!DOCTYPE html>
<html lang="en" ng-app="protonMultiListSelector" xmlns:proton="http://github.com/mmnaseri/proton.multi-list-picker">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Demo</title>
    <link rel="stylesheet" href="../dist/proton.multi-list-picker.css">
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-sanitize.min.js"></script>
    <script src="../src/proton.multi-list-picker.js"></script>
    <script src="../src/nxtDatePicker.js"></script>
    <script src="app/app.js"></script>
    <style>
        .proton-multi-list-picker {
            font-size: 20px;
        }
    </style>
</head>
<body ng-controller="MainController" ng-init="showing = true">
<label>The model bound to the picker:</label>
<pre ng-bind="model | json"></pre>
<label>
    Attachment:
    <select ng-model="attachment">
        <option>inline</option>
        <option>modal</option>
        <option>top</option>
        <option>bottom</option>
    </select>
</label><br/>
<label>
    <input type="checkbox" ng-model="bindHtml" /> Bind captions as HTML:
</label>
<br/>
<label>
    Selected time:
    <input type="text" value="{{model.year}}-{{model.month}}-{{model.day}}, {{model.hour}}:{{model.minute}} {{model.time}}"
           ng-click="showing = !showing"/>
</label>
<br/>
<nxt-date-picker done="getDateSucceed()" ng-show="showing">
</nxt-date-picker>
</body>
</html>
